global
        daemon
        debug
        maxconn 256
        tune.ssl.default-dh-param 2048
        crt-base /usr/local/lib
        ca-base /usr/local/lib

    defaults
        mode http
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

    frontend https-in
        bind *:443 ssl crt frontend.pem ca-file ca-cert.pem
        default_backend servers-https

    backend servers-https
        balance roundrobin
        cookie SERVERID insert indirect nocache
	option log-health-checks
	option httpchk OPTIONS / "HTTP/1.1\r\nHost: l2dashboard.level2.org"
	http-check expect rstatus (2|3)[0-9][0-9]
	default-server inter 3s fall 1 rise 1
        server server1 iag-l2dashboard1:8443 check cookie server1 ssl verify none check
        server server2 iag-l2dashboard2:8443 check cookie server2 ssl verify none check
